* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #212f3c;
  color: #fcf3cf;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0 5px 0;
}

.header-logo {
  font-family: 'Sixtyfour Convergence', sans-serif;
  font-size: 33px;
  padding-top: 3px;
  cursor: pointer;
}

.header-search-input {
  width: 500px;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
}

.header-currency-div {
  position: relative;
}

.header-currency-btn {
  background-color: #212f3c;
  cursor: pointer;
  color: lightblue;
  padding: 1px 5px 2px 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  border-radius: 2px;
}

.header-currency-btn:hover {
  background-color: #2f4254;
}

.header-currency-dropdown {
  list-style: none;
  position: absolute;
  background-color: #2f4254;
  z-index: 99;
}

.header-currency-dropdown li {
  margin: 3px 5px 3px 5px;
  cursor: pointer;
}

.header-currency-dropdown li:hover {
  color: lightblue;
}

.header-menu-ul {
  list-style: none;
  display: flex;
  gap: 21px;
}

.header-menu-li {
  cursor: pointer;
}

.header-menu-li:hover {
  opacity: 0.6;
}

.main {
  flex: 1;
  background-color: #2f4254;
}

.banner-slider-swiper {
  margin-top: 7px;
  max-width: 1200px;
  height: 420px;
  border-radius: 12px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  opacity: 0.2 !important;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active:hover {
  opacity: 0.7 !important;
}

.catalogue {
  margin-top: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 23%;
  background-color: #212f3c;
  margin: 4px;
  color: white;
  padding: 4px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-img-block {
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.card-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card-name {
  margin: 12px 0;
}

.card-description {
  font-size: 12px;
  margin: 7px 0;
}

.card-btn {
  margin: 8px 0 4px 0;
  padding: 7px;
  font-size: 15px;
  cursor: pointer;
  background-color: #1b2731;
  border: 1px solid white;
  color: white;
  transition: background-color 0.2s ease;
}

.card-btn:hover {
  background-color: #364d63;
}

footer {
  height: 40px;
  background-color: #212f3c;
  color: #fcf3cf;
}

.cart {
  color: #fcf3cf;
}

.cart-title {
  margin: 10px 0 10px 0;
  text-align: left;
}

.cart-is-empty {
  text-align: left;
}

.cart-item {
  list-style: none;
  background-color: #212f3c;
  display: flex;
  margin-bottom: 4px;
}

.cart-item-img-block {
  width: 140px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  padding: 4px;
}

.cart-item-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-item-name {
  margin-bottom: 10px;
}

.cart-item-price {
  margin-bottom: 10px;
}

.cart-item-quantity {
  margin-bottom: 10px;
}

.cart-item-btn-delete {
  margin-top: auto;
  margin-bottom: 4px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #212f3c;
  color: lightblue;
  border: 1px solid lightblue;
  transition: background-color 0.3s ease;
}

.cart-item-btn-delete:hover {
  background-color: #2f4254;
}

.cart-total-info {
  text-align: left;
}

.cart-total-price {
  margin-top: 8px;
  margin-bottom: 8px;
}

.cart-clear-btn {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #212f3c;
  color: white;
  border: 1px solid white;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.cart-clear-btn:hover {
  background-color: #2f4254;
}

.cart-item-btn-quantity {
  width: 17px;
  height: 19px;
  font-weight: bold;
  background-color: #212f3c;
  color: lightblue;
  transition: background-color 0.3s ease;
}

.cart-item-btn-quantity:hover {
  background-color: #2f4254;
}

.product-wrapper {
  color: white;
  display: flex;
  margin-top: 10px;
}

.product-img-block {
  width: 400px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  padding: 4px 10px;
}

.product-img-img {
  width: 100%;
  height: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
